Source: glamor-hybris
Priority: extra
Maintainer: TheKit <nekit1000@gmail.com>
Build-Depends: debhelper (>= 10),
               pkg-config,
               xserver-xorg-dev,
               libxi-dev,
               x11proto-video-dev,
               x11proto-randr-dev,
               x11proto-render-dev,
               xutils-dev,
               drihybris-dev,
               libepoxy-dev,
               libhybris-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/gemian/glamor-hybris
Vcs-Git: https://github.com/gemian/glamor-hybris.git

Package: glamor-hybris
Architecture: armhf arm64 i386 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: glamor Xserver 2D acceleration modified to work with libhybris drivers.

Package: glamor-hybris-dev
Section: libdevel
Architecture: armhf arm64 i386 amd64
Depends: ${misc:Depends}
Description: Development headers files for glamor-hybris
 Contains the development files.
